* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    height: 80px;
    background-color: #FF6900 ;
	/* border-bottom: 1px solid black; */
	/* position: fixed; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main {
	padding-top: 50px;
	padding-bottom: 50px;
}

footer{
    height: 100px;
    background-color: #1A1A1A ;
	color: white;
	padding-top: 35px;
}

a {
	text-decoration: none;
	color: white;
	padding-left: 10px;
	font-size: 20px;
}


span {
	color: white;
	padding-left: 10px;
	font-size: 20px;
}

ul,ol,menu {
	list-style: none;
}

li{
    display: inline-block;
}

.logo {
    width: 30%;
}

img {
	display: block;
	width: 100%;
}


p {
	font-size: 18px;
	line-height: 1.5em;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header__container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
}

.card {
	position: relative;
}

.card:hover img {

}

.logo-col {
	display: flex;
	justify-content: center;
	flex-basis: calc((100% / 12) * 8);
}

.col-6 {
	flex-basis: calc((100% / 12) * 6);
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
	padding-left: 20px;
	padding-bottom: 60px;
}

.col-2 {
	flex-basis: calc((100% / 12) * 2);
}

.griff {
	line-height: 1em;
	font-size: 12px;
	color: grey;
	padding-top: 5px;
}

.item {
	font-weight: bolder;
	line-height: 1.2em ;
}

.price {
	color: red;
	line-height: 1em ;
	font-size: 1em;
	font-weight: bolder;
}

.price-off{
	background-color: red;
	color: white;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 77%;

}

.just-price-off {
	background-color: red;
	color: white;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 950%;
	right: 815%;

}

.sustainable {
	background-color: #008000 ;
	color: white;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 77%;
	right: 54%;
}

.sustainable-top {
	background-color: #008000 ;
	color: white;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 950% ;
	right: 525%;

}

.just-sustainable {
	background-color: #008000 ;
	color: white;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 77%;
}

.heart-size {
	font-size: 32px;
	padding-left: 10px;
	padding-right: 10px;
}

.heart {
	position: absolute;
	top: 2%;
	left: 90%;
	background-color: white;
}

p> span{
	color: black;
	line-height: 1em ;
	font-size: 1em;
	font-weight: bolder;
	text-decoration-line: line-through;
}

.footer-link {
	padding-right: 10px;
}


.text-allign-right{
	text-align: right;
}




